<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
</div>
<div class="off-canvas-content" data-off-canvas-content>	
    <div class="grid-x">
        <div class="cell large-12">
            <div class="top-bar">
                <div class="top-bar-left">
                  <ul class="dropdown menu" data-dropdown-menu>
                    <li><p class="h6" style="margin-bottom: 0px;"></p></li>
                  </ul>
                </div>
             </div>
        </div>
    </div>
</div>