{% extends "base.html" %}
{% load static %}
{% block title %}Login | Tracker{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}
{% include 'partials/header_unauthenticated.html' %}
<div class="off-canvas-content" data-off-canvas-content>
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-7 grid-center">
                <div class="callout">
                    <form id="login-form" method="POST">
                        <img src="{{ MEDIA_URL }}uploads/image.jpg" alt="Uploaded image">

                        {% csrf_token %}
                        <label>Upload Image</label>
                        <input type="file" name="upload_file">
                        <div class="grid-x">
                            <div class="cell">
                                <div class="button-group expanded">
                                    <button type="submit" class="button pill">Submit</button>
                                </div>
                            </div>
                        </div>

                        <div class="cell text-center" id="login-error" style="color: red;"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/upload.js' %}"></script>
{% endblock %}
