{% extends "base.html" %}
{% load static %}

{% block title %}Organic Generator Master Dashboard{% endblock %}
{% block body_id %}dashboard{% endblock %}

{% block extra_css %}
<style>
    #delete_btn {
        color: red;
        float: right;
        padding-right: 3rem
    }
</style>

{% endblock %}


{% block content %}
<div class="off-canvas-content" data-off-canvas-content>
    {% include "includes/sidebar_router.html" with active_page="waste_source" %}
    <div class="grid-x">
        <div class="cell large-10 large-offset-2">
            {% include 'partials/header_authenticated.html' with page_name="Organic Generator Master Dashboard" %}
            <div class="dashboard-content">

                <!-- Dashboard Full Table Begin-->
                <div class="table-container">
                    <div class="grid-x">
                        <div class="cell large-12">
                            <div class="callout">
                                <div class="dashboard-callout">
                                    <div class="grid-x grid-margin-y small-up-1 medium-up-2">
                                        <div class="cell">
                                            <span class="sub-title"
                                                style="background: url(/staticfiles/images/iconmonstr-chart-22.png) no-repeat 0px center">Waste
                                                Generators</p>
                                        </div>
                                        <div class="cell">
                                            <input type="search" id="waste-source-master-search" placeholder="Search"
                                                class="pill"
                                                style="width: 50%; float: right; padding-left: 15px; padding-right: 15px; box-shadow: none;">
                                        </div>
                                    </div>
                                </div>
                                <div class="table">
                                    <table class="stack" id="waste-source-master-table">
                                        <thead>
                                            <tr>
                                                <th width="30">
                                                    <input type="checkbox" class="checkbox" id="select-all">
                                                </th>
                                                <th>ID</th>
                                                <th>Generator type Name</th>
                                                <th>Edible food Pickup Source Name</th>
                                                <th>Location</th>
                                                <th>Contact Name</th>
                                                <th>Contact Number</th>
                                                <th>Email</th>
                                                <th>Status</th>
                                                <!-- <a href="#" id="delete_btn">Delete</a> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for waste_source_master in waste_source_masters %}
                                            <tr>
                                                <td><input type="checkbox" class="checkbox"
                                                        value="{{ waste_source_master.id }}"></td>
                                                <!-- <td><a href="./waste-generator-form.html" id="waste-gen-1">{{waste_source_master.id}}</a>
                                                </td> -->
                                                <td><a href="{% url 'waste_source_group:edit_group_master_view' waste_source_master.id %}"
                                                        id="{{ waste_source_master.id }}">
                                                        {{ waste_source_master.id }}
                                                    </a></td>
                                                <td>{{waste_source_master.waste_group.name}}</td>
                                                <td>{{waste_source_master.waste_source.name}}</td>
                                                <td>{{waste_source_master.address|default:'-'}}</td>
                                                <td>{{waste_source_master.contact_name}}</td>
                                                <td>{{waste_source_master.contact_phone}}</td>
                                                <td>{{waste_source_master.contact_email}}</td>
                                                <td>{{waste_source_master.get_status_display}}</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="12" class="text-center">No Generator type
                                                    available.</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <!-- Optional: Add a message box for feedback -->
                                    <div id="feedback-box" style="display:none;"></div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/waste_group_source/waste_source_master_dashboard.js' %}"></script>
<script src="{% static 'js/edit_source_master.js' %}"></script>

<script>
    document.getElementById("select-all").addEventListener("click", function () {
        const checkboxes = document.querySelectorAll(".checkbox");
        const isChecked = this.checked;
        checkboxes.forEach((checkbox) => {
            checkbox.checked = isChecked;
        });
    });
</script>
{% endblock %}